:root { --global-base-color: #b60000; --global-bg-color: #ffffff; --global-footer-bg-color: #ffffff; --global-border-color: #c0c0c0; --global-dark-border-color: #808080; --global-code-background-color: #fafafa; --global-code-text-color: #000000; --global-fig-caption-color: #404040; --global-link-color: #0000ff; --global-link-color-hover: #0000cc; --global-link-color-visited: #b60000; --global-masthead-link-color: #000000; --global-masthead-link-color-hover: #b60000; --global-text-color: #000000; --global-text-color-light: #404040; --global-thead-color: #c0c0c0; --global-toc-bg-color: #fafafa; --global-selection-bg-color: #b3d4fc; --global-selection-text-color: #000000; }

::selection { background-color: #b3d4fc; color: #000000; }
::-moz-selection { background-color: #b3d4fc; color: #000000; }

html:not([data-theme="dark"]) footer { color: #000000; }

.page__content .notice, .page__content .notice--primary, .page__content .notice--info, .page__content .notice--warning, .page__content .notice--success, .page__content .notice--danger { color: #000000; border-color: #000000; }

.page__footer-follow .social-icons i:not(.fa-rss-square), .page__footer-follow .social-icons .svg-inline--fa:not(.fa-rss-square) { color: inherit; }
